<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt = "Logo"></img>
        <input></input>
        <button>Buscar</button>
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li><a href = '/#ofertas'>Ofertas</a></li>
                <li><a href = '/#tiendasOficiales'>Tiendas Oficiales</a></li>
                <li><a href = '/#vender'>Vender</a></li>
                <li><a href = '/#ayuda'>Ayuda</a></li>
                <li><a href = '/#creaTuCuenta'>Creá tu cuenta</a></li>
                <li><a href = '/#ingresa'>Ingresá</a></li>
                <li><a href = '/#misCompras'>Mis compras</a></li>

            </ul>
        </nav>

    </header>
    <main>
        <section>
            <p><strong>Basado en tu última visita</strong></p>
            <article> <a href = "/producto/#macbook"> <img src = "/img/img-macbook-pro-2019.jpg" alt = "MacBook Pro 2019"></img></a>
            <p>$230.000</p>
            <p>20% Off</p>
            <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article><a href = "/producto/#samsungGalaxyS10"> <img src = "/img/img-samsung-galaxy-s10.jpg" alt = "Samsung Galaxy S10"></img></a>
            <p>$70.500</p>
            <p>10% Off</p>
            <p><strong>Samsung Galaxy S10</strong></p>
            </article>
        </section>
        <section>
            <p><strong>Sección de ofertas</strong></p>
            <article> <a href = "/producto/#cafeteraMolinex"> <img src = "/img/img-cafetera-moulinex.jpg" alt = "Cafetera Moulinex"></img></a>
            <p>$20.000</p>
            <p>25% Off</p>
            <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <article><a href = "/producto/#samsungTvSmart"> <img src = "/img/img-tv-samsung-smart.jpg" alt = "Samsung Smart TV"></img></a>
            <p>$150.000</p>
            <p>15% Off</p>
            <p><strong>Samsung Smart TV</strong></p>
            </article>
        </section>

    </main>
    <footer>
        <ul>
            <li>Pagá con tarjeta o Efectivo
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li>Envío gratis desde $ 2.500
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li>Seguridad, de principio a fin
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </li>
            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
    </footer>
</body>
</html>