<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href = "/css/styles.css" rel = "stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/524c76814f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-main">
        <div class="headerTop">
            
            <img class = "logo" src="/img/logo-mercado-liebre.svg" alt = "Logo"></img>
            
            <div class="searchBar">
                <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="buscador-input">
                <button type="submit" class="buscador-boton"><i class="fas fa-search"></i></button>
            </div>
            
            <h2 class = "compraCuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        
         <nav class ="navBar">
                <ul class = "navegador">
                    <li><a href = '/ofertas'>Ofertas</a></li>
                    <li><a href = '/tiendasOficiales'>Tiendas Oficiales</a></li>
                    <li><a href = '/vender'>Vender</a></li>
                    <li><a href = '/ayuda'>Ayuda</a></li>
                </ul>
          
                 <ul class = "login">    
                    <li><a href = '/registro'>Creá tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                    <li><a href = '/login'>Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                    <li><a href = '/misCompras'>Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i> </a></li>
                </ul>
        </nav>
            
            <button type="button" class="burger-menu">
            <i class="fas fa-bars" ></i>
        </button>
         <br>  
    </header>

    <form action="/" method="POST">
        <div class="loginRegistro">
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="loginUsuario">
        </div>
        <div class="loginRegistro">
            <input type="password" name="password" placeholder="Escribi tu contraseña" class="loginUsuario">
        </div>
        <div class="loginRegistro">
            <button type="submit" name="enviar" class="loginBotonUsuario">Enviar</button>
        </div>
    </form>
    <footer>
        <br>
        <div class="footer1200" >
        <div class = "tarjeta">
            <i class="fa-solid fa-credit-card iconos"></i>
            <h4 class = " titulos">Pagá con tarjeta o Efectivo</h4>
                <p class = "parrafos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
        </div>
        <div class = "envio">   
            <i class="fa-solid fa-gift iconos"></i>
            <h4 class = " titulos">Envío gratis desde $ 2.500</h4>
                <p class = "parrafos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
        </div> 
        <div class = "seguridad">    
            <i class="fa-solid fa-user-shield iconos"></i>
            <h4 class = " titulos">Seguridad, de principio a fin</h4>
                <p class = "parrafos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        </div>
        <div><label class = "copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</label></div>
        
    </footer>

</body>

</html>