.logo {
    size: 50px;
    height: 50px;
}
.sacarPunto {list-style:none;}

body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;

}

footer {
    background-color: white;
    text-align: center;
    font-size: 12px;


}
.copyright {text-align: left;}